.wrapperaW .wrapperW {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.wrapperaW {
    color:#222;
    width: 14rem;
    display: block;
    font-size: 1.3rem;
    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.50);
}


.wrapperaB .wrapperB {
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.wrapperaB {
    color:#eee;
    width: 14rem;
    display: block;
    font-size: 1.3rem;
    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.50);
}