* {
    box-sizing: content-box;
}

.centerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
    
    
}


.car {
    width: 18rem;
    border-top: #666 solid 1px;
}

.frstcar {
    width: 18rem;
    margin-top:2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    height:11rem;

}

.underbar {
    background-color: #222;
    width: 18rem;
    text-align: center;
    color:#eee;
    padding: 0.7rem 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor:pointer;
    position: relative;
    z-index: 9999;
    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.30);

    transition: all 200ms;

    
}

.underbar:hover {
    background-color: #313131;
}

.underbarDisabled {
    background-color: #222;
    opacity: 0.75;
    width: 18rem;
    text-align: center;
    color:#eee;
    padding: 0.7rem 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    position: relative;
    z-index: 9999;
    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.30);

    
}

.car1 {
    display: flex;
    flex-direction: column;
    margin:2rem;
    
}

img {
    display: block;
}

.hiddencars {
    overflow: hidden;
    transition:max-height 500ms ease-in-out;
    max-height: 100px;
    border: 1px solid #777;
    border-bottom: 5px solid #777;
    position: absolute;
    top:2rem;
    width: calc(17.5rem - 2px);

    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.30);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    z-index: 9998;
}


.absoluteBar {
    position: relative;
    display: flex;
    justify-content: center;
}


.carinfo {
    margin:auto;
    display: flex;
    flex-direction: column;
    color:#222;
    margin:1rem;
    max-width: 17.5rem;
    width: 17.5rem;
    margin-bottom: 4rem;
}


.name {
    font-weight:bold;
    font-size:1.6rem;
}

.nameyear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year {
    color:#666;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    font-size: 1.4rem;
    color:#333;
    margin-top:0.4rem;
    margin-left: 1.2rem;
}

.desc {
    color: #444;
    margin:0.8rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.4;
}


.soldBar {
    display: block;
    background-color: #c51e12;
    padding:0.7rem;
    width: 11rem;
    color:white;
    text-align: center;

    position: absolute;
    user-select: none;
    left:0rem;
    top:3rem;
    border-top-right-radius:12px ;
    border-bottom-right-radius: 12px;

    box-shadow: 9px 9px 7px -8px rgba(0,0,0,0.40);
    font-weight: bold;

    z-index: 99999999999;
}