.title3 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
    color:#eee;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.10);
}

.title4 {
    margin:3rem;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
    color:#222;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.10);
}





.financiamentosText {
    color:#333;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    margin:2rem;
    margin-left: 3.5rem;
    flex:1;
    line-height: 1.6;
    letter-spacing: -0.1px;
}

.quemText {
    color:#eee;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    margin:2rem;
    margin-left: 2rem;
    flex:1;
    line-height: 1.6;
    letter-spacing: -0.1px;
}



.financiamentosArea {
    display: flex;
    align-items: start;
}



.quem {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-color: #111;
    padding: 0rem;
    display: flex;
    flex-direction: row;
}

.quemArea {
    width: 50vw;
    flex:1;

    padding: 3rem
}

.bgQuem {
    flex:1;
    background-image: url(../assets/fachada.jpeg);
    background-position: center;
    background-size: cover;
}

.financiamentosArea img {
    margin-top: -4rem;
    margin-right: 6rem;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .quem {
        flex-direction: column;
        height: auto;
    }

    .quemArea {
        flex:0;
        width: auto;
        padding: 2rem;
    }

    .bgQuem {
        display: none;
    }


    .financiamentosArea {
        flex-direction: column;
    }

    


    .title3, .title4 {
        font-size: 1.7rem;
    }


    .finanImg {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .financiamentosText {
        margin-bottom: 0;
    }

    .finanImg img {
        width: 18rem;
        margin: 0 !important;
        margin-left: 1rem !important;
    }
}